.main-container {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2e6ff;
}

.inner-container {
  width: 1100px;
  height: 700px;
  margin: 50px;
  border: 0.5 gray;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.title-col {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.item-name {
  background-color: #e2e6ff;
}

.gray-text {
  color: gray;
  font-size: 14px;
}

.bold-text {
  font-weight: bold;
  font-size: 20px;
}
.total-part {
  background-color: #1a3584;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table thead {
  background-color: #1a3584;
  color: white;
}
table tr {
  padding: 10px 0;
}
table tr:nth-child(even):not(:first-child) {
  background-color: #f2f2f2;
}

.image-container img {
  width: 100%;
  height: 100;
  object-fit: cover;
  object-position: center center;
}

.rightside-container img{
  height: 95%;
  width: 130%;
  object-fit: cover;



}
